.br {
  border-radius: 1rem;
}

/* Perspective wrapper */
.flip-container {
  perspective: 900px; /* subtle, natural depth */
}

/* Row wrapper */
.flip-row {
  display: flex;
  gap: 1rem;
}

/* Each card */
.flip-card {
  position: relative;
  flex: 1;
  height: 120px;
  transform-style: preserve-3d;
}

/* Front and back faces */
.flip-card .front,
.flip-card .back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden;
  font-weight: bold;
  font-size: 1.2rem;
  color: #000;
}

/* Row 1 colors: front green, back new purple */
.row1 .card-1 .front {
  background-color: #f3f5ff;
  
}
.row1 .card-1 .back {
  background-color: #E9D5FF;
  transform: rotateX(180deg);
}
.row1 .card-2 .front {
  background-color: #E9D5FF;
}
.row1 .card-2 .back {
  background-color: #f3f5ff;
  transform: rotateX(180deg);
}

/* Row 2 colors: keep light purple / gray */
.row2 .card-1 .front {
  background-color: #f3f5ff;

}
.row2 .card-1 .back {
  background-color: #E9D5FF;
  color: white;
  transform: rotateX(180deg);
}
.row2 .card-2 .front {
  background-color: #E9D5FF;
  color: white;
}
.row2 .card-2 .back {
  background-color: #f3f5ff;

  transform: rotateX(180deg);
}

/* Row 3 colors: front red, back new purple */
.row3 .card-1 .front {
  background-color: #f3f5ff;}
.row3 .card-1 .back {
  background-color: #E9D5FF;
  transform: rotateX(180deg);
}
.row3 .card-2 .front {
  background-color: #E9D5FF;
}
.row3 .card-2 .back {
  background-color: #f3f5ff;
    transform: rotateX(180deg);
}


.story-wrap {
  min-height: 100vh;
  display: grid;
  place-items: center;  /* perfect centering */
  padding: 0 50%;
}
.story {
  text-align: center;
  max-width: 68ch;
  margin: 0 auto;
  line-height: 1.6;
}

.mission-body{
  padding: 10%;
}